

body{
  background-image:("photoone.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


h1 {

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 200px;
  font-style: normal;
	font-variant: normal;
	font-weight: 450;
	line-height: 26.4px;
  position: absolute;
  left: 50px;
  color: white;

}


h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 40px;
  font-style: normal;
	font-variant: normal;
	font-weight: 450;
  color: white;
  margin-top: 120px;
  margin-bottom: 100px;
  position: absolute;
  left: 10px;

}

h1 a:link {
    text-decoration: none;
    color: white
}

h1 a:visited {
  text-decoration: none;
    color: white;
}

h2 a:link {
  text-decoration: underline;
  color: white

}

h2 a:visited {
  color: white;

}
